
<div class="container mt-4" *ngIf="!student_particulars">
	<div class="row">
		<div class=" col-md-8 d-flex justify-content-center ">
			<h2>Student Particulars</h2>
		</div>
		<div class="col-md-4">
			<img src="" alt="" width="150px" height="200px" class="rounded-top d-flex justify-content-end">
		</div>
	</div>
</div>

<div class="container" *ngIf="!student_particulars">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class=" mb-3">
				<label >Name</label>
				<input [(ngModel)]="particularsData.name" name="name" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Department</label>
				<input [(ngModel)]="particularsData.department" name="department" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Registration Number</label>
				<input [(ngModel)]="particularsData.reg_number" name="reg_number" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Course of Studies</label>
				<input [(ngModel)]="particularsData.course_of_study" name="course_of_study" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Course Duration</label>
				<input [(ngModel)]="particularsData.course_duration" name="course_duration" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Student GSM Phone Number</label>
				<input [(ngModel)]="particularsData.phone_number" name="phone_number" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Parent/Guardian GSM Phone Number</label>
				<input  [(ngModel)]="particularsData.p_g_phoneNumber" name="p_g_phoneNumber" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Acount Name</label>
				<input  [(ngModel)]="particularsData.account_name" name="account_name" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Bank Name</label>
				<input  [(ngModel)]="particularsData.bank_name" name="bank_name" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Bank Scort Code</label>
				<input  [(ngModel)]="particularsData.bank_sort_code" name="bank_sort_code" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Bank Account Number</label>
				<input  [(ngModel)]="particularsData.bank_account_no" name="bank_account_no" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Name of establishment</label>
				<input  [(ngModel)]="particularsData.name_of_establishment" name="name_of_establishment" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Address of Establishment</label>
				<input  [(ngModel)]="particularsData.address_of_establishment" name="address_of_establishment" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Period Of Attachment</label>
				<input  [(ngModel)]="particularsData.period_of_attachment" name="period_of_attachment"  class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Name of Industrial based supervisor</label>
				<input  [(ngModel)]="particularsData.industry_supervisor_name" name="industry_supervisor_name" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >GSM Phone Number of Industrial Based Supervisor</label>
				<input  [(ngModel)]="particularsData.industry_supervisor_phoneNumber" name="industry_supervisor_phoneNumber" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >email Address</label>
				<input  [(ngModel)]="particularsData.email" name="email" class="form form-control" type="text" id="formFile">
			</div>
			<div class="mb-3">
				<button class="btn btn-outline-success" (click)="onSubmit()">Submit</button>
			</div>
			
		</div>
		<div class="col-md-2"></div>
	</div>

</div>


<div class="container mt-4" *ngIf="student_particulars">
	<div class="row">
		<div class=" col-md-8 d-flex justify-content-center ">
			<h2>Student Particulars</h2>
		</div>
		<div class="col-md-4">
			<img src="" alt="" width="150px" height="200px" class="rounded-top d-flex justify-content-end">
		</div>
	</div>
</div>

<div class="container" *ngIf="student_particulars">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class=" mb-3">
				<label >Name</label>
				<input [(ngModel)]="particularsData.name" name="name" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Department</label>
				<input [(ngModel)]="particularsData.department" name="department" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Registration Number</label>
				<input [(ngModel)]="particularsData.reg_number" name="reg_number" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Course of Studies</label>
				<input [(ngModel)]="particularsData.course_of_study" name="course_of_study" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Course Duration</label>
				<input [(ngModel)]="particularsData.course_duration" name="course_duration" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Student GSM Phone Number</label>
				<input [(ngModel)]="particularsData.phone_number" name="phone_number" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Parent/Guardian GSM Phone Number</label>
				<input  [(ngModel)]="particularsData.p_g_phoneNumber" name="p_g_phoneNumber" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Acount Name</label>
				<input  [(ngModel)]="particularsData.account_name" name="account_name" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Bank Name</label>
				<input  [(ngModel)]="particularsData.bank_name" name="bank_name" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Bank Scort Code</label>
				<input  [(ngModel)]="particularsData.bank_sort_code" name="bank_sort_code" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Bank Account Number</label>
				<input  [(ngModel)]="particularsData.bank_account_no" name="bank_account_no" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Name of establishment</label>
				<input  [(ngModel)]="particularsData.name_of_establishment" name="name_of_establishment" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Address of Establishment</label>
				<input  [(ngModel)]="particularsData.address_of_establishment" name="address_of_establishment" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Period Of Attachment</label>
				<input  [(ngModel)]="particularsData.period_of_attachment" name="period_of_attachment"  class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >Name of Industrial based supervisor</label>
				<input  [(ngModel)]="particularsData.industry_supervisor_name" name="industry_supervisor_name" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >GSM Phone Number of Industrial Based Supervisor</label>
				<input  [(ngModel)]="particularsData.industry_supervisor_phoneNumber" name="industry_supervisor_phoneNumber" class="form form-control" type="text" id="formFile">
			</div>
			<div class=" mb-3">
				<label >email Address</label>
				<input  [(ngModel)]="particularsData.email" name="email" class="form form-control" type="text" id="formFile">
			</div>

			
		</div>
		<div class="col-md-2"></div>
	</div>

</div>